* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body {
    background-color: #ffe1ad;
}
.background-color-box {
    background-color: #fafafa;
    margin: 0 auto;
    width: 95%;
    box-shadow: 2px 4px 3px #888888;
}
.shadow-box {
    box-shadow: 2px 1px 3px #888888;
    @include mobile {
        box-shadow: none;
    }
    @include tablet {
        box-shadow: none;
    }
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
header, nav, section, footer {
    width: 100%;
}
.row::before, .row::after {
    content: '';
    display: table;
    clear: both;
}
.uppercase-text {
    font-size: 14px;
    text-transform: uppercase;
    color: #808080;
}
.italic-text {
    font-style: italic;
}
.asking-person-name {
    font-size: 16px;
    color: #0264b0;
    font-weight: bold;
    margin-bottom: 5px;
    .modal-link {
        text-decoration: none;
        color: #0264b0;
    }
}
.topic-name {
    color: #0264b0;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    @include mobile {
        font-size: 18px;
    }
    @include tablet {
        font-size: 20px;
    }
}
