$colCount: 12;
@for $i from 1 through $colCount {
    .col-#{$i} {
    width: ($i / $colCount) * 100%;
    }
}
[class*='col-'] {
    float: left;
    min-height: 1px;
}
@media all and (max-width: 1000px) and (orientation: portrait) {
    [class*='col-'] {
        width: 100%;
    }
}
$mobile:'(max-width: 400px)';
$tablet:'(min-width: 401px) and (max-width: 800px)';

@mixin tablet {
    @media #{$tablet} {
        @content;
    }
}
@mixin mobile {
    @media #{$mobile} {
        @content;
    }
}
